body {
  padding: 25px;
}

form {
  width: 800px;
  margin: 5px auto;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  align-items: center;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="customer"],
input[type="vrn"],
input[type="make"],
input[type="model"],
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="reset"],
button[type="submit"] {
  align-items: center;
  justify-content: center;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="reset"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #d4872f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="#"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #434242;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="#"] a {
  color: white;
  text-decoration: none;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="reset"]:hover {
  background-color: #be8904;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: rgb(232, 231, 230);
  border-radius: 5px;
  box-shadow: 2px 2px rgb(201, 202, 202);
}

.mainPage {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 40px !important;

  margin: 10px;
}

.mainPage a:hover {
  background-color: #ffffff !important;
  color: rgb(13, 13, 132) !important;
}

.divForm {
  display: flex;
  flex-direction: column;
}
